{% extends 'footer.html' %} {% block content %}
    <div class="ui equal width grid" style="width:80%;margin:5px 50px 5px 50px ;">
        {#   歌手{{ singername }}的专辑#}
        <table class="ui inverted table">
            <thead>
            <tr>
                <th>专辑名称</th>
                <th>歌手名字</th>
                <th>专辑时间</th>
            </tr>
            </thead>
            <tbody>
            {% for var in lists %}
                <tr>
                    <td><a href="../albumDetail?albumId={{ var.albumid }}"> {{ var.albumname }}</a></td>
                    <td>{{ singername }}</td>
                    <td>{{ var.albumtime }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    <div class="ui right floated pagination menu">
                        <!--  上一页按钮开始 如果当前页有上一页 -->
                        {% if lists.has_previous %}
                            <!-- {# 当前页的上一页按钮正常使用#} -->
                            <a class="item" href="/test/?page={{ lists.previous_page_number }}">上一页</a>
                            <!-- {# 当前页的不存在上一页时,上一页的按钮不可用#} -->
                        {% endif %}
                        <!-- 循环输出页数 -->
                        {% for num in it %} {% if num == currentPage %}
                            <a class="item" href="/test/?page={{ num }}">{{ num }}</a> {% else %}
                            <a class="item" href="/test/?page={{ num }}">{{ num }}</a> {% endif %} {% endfor %}
                        <!-- {#页码结束#} -->
                        <!-- {# 下一页按钮开始#} -->
                        {% if lists.has_next %}
                            <a class="item"
                               href="/test/?page={{ lists.next_page_number }}">下一页</a> {% else %} {% endif %}
                        {# 下一页按钮结束#}
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}