<!DOCTYPE html> {% load static %}
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
</head>

<body>
<div class="ui visible left sidebar  thin inverted vertical menu">
    <div class="header item">
        <img src="{% static 'images/logo.png' %}">
        <i>小小的爬虫</i>
    </div>
    <div class="item"><a href="{% url 'test' %}">歌手</a>
        <i class="browser icon"></i>
    </div>
    <div class="item"><a href="{% url 'album' %}">专辑</a>
        <i class="browser icon"></i>
    </div>
    <div class="item"><a href="{% url 'albumDetail' %}">歌曲</a>
        <i class="browser icon"></i>
    </div>
    <form action="{% url 'search' %}" method="get" class="item ui fo input focus">
        <input type="text" name="singer" placeholder="输入歌手名字">
    </form>
</div>
<div class="pusher" style="height: 100%;background-color:#404A59;">
    <div class="ui menu">
        <div class="header item" id="menu" value="1">Menu
            <li class="content icon"></li>
        </div>
    </div>
    {% block content %} {% endblock %}
</div>
<script>
    $('#menu').click(function () {
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
{% block js %} {% endblock %}
</body>

</html>